/* Base CSS */
@font-face {
	font-family: 'Asiyah Script';
	src: url('../fonts/AsiyahScript.eot');
	src: url('../fonts/AsiyahScript.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AsiyahScript.woff2') format('woff2'),
		url('../fonts/AsiyahScript.woff') format('woff'),
		url('../fonts/AsiyahScript.ttf') format('truetype'),
		url('../fonts/AsiyahScript.svg#AsiyahScript') format('svg');
	font-weight: normal;
	font-style: normal;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Asiyah Script';
    margin: 0 0 15px;
    font-weight: normal;
}
body {

}
a:hover { text-decoration: none }

.carousel-bg-1{background: url(../img/carousel-bg-1.jpg)}
.carousel-bg-2{background: url(../img/carousel-bg-2.jpg)}
.carousel-bg-3{background: url(../img/carousel-bg-3.jpg)}

html,body {
    height: 100%;
}

.single-carousel-item {
    height: 100%;
    display: table;
    width: 100%;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
}

.carousel-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.carousel-table-cell h1 {
    font-size: 150px;
    margin-bottom: 0;
}

.boxed-btn {
    background: #D8085E;
    display: inline-block;
    padding: 10px 38px;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    opacity: .8;
    transition: .3s;
    text-decoration: none;
}

.boxed-btn:hover {
    color: #fff;
    opacity: 1;
}

.home-page-slides, .home-page-slides div {
    height: 100%;
}

.home-page-slides div.carousel-table-cell, .home-page-slides div.carousel-table-cell div, .home-page-slides div.owl-nav, .home-page-slides div.owl-nav div, .home-page-slides div.owl-dots, .home-page-slides div.owl-dots div {
    height: auto;
}

.home-page-slides .owl-nav div {
    position: absolute;
    left: 50px;
    top: 50%;
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin-top: -30px;
}

.home-page-slides .owl-nav div.owl-next {
    left: auto;
    right: 50px;
}

.home-page-slides .owl-dots
 img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.home-page-slides .owl-dots div {
    display: inline-block;
    padding-left: 20px;
}

.home-page-slides .owl-dots {
    position: absolute;
    right: 20%;
    bottom: 0;
}

